* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #2C3E50;
    color: white;
}

.header-content {
    background-color: blueviolet;
    border: 1px solid black;
    height: 75px;
}

.content {
    text-align: center;

}


.jumbo-content {
    background-color: #1ABC9C;
    text-align: center;
    color: white;


}

.jumbo {
    background-color: #1ABC9C;
}

#jumbotron,
#about-us {
    background-color: #1ABC9C;
    color: white;
}

.bottom-footer {
    background-color: brown;
}


.txt-white {
    color: white;
}

.resize-img {
    max-width: 300px;
    height: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-sizer {
    margin-right: 10px;
    width: 100px;
    margin-left: 10px;
    border: 2px solid black;

}

.hr-sizel {
    margin-left: 10px;
    width: 100px;
    margin-right: 10px;
    border: 2px solid black;


}

.hr-white {
    border: 2px solid white;
}


ul#menu {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#menu li {
    display: inline;
    padding: 5px;
    font-size: 15px;
}

.content img {
    border-radius: 20px;
}