* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: black;
}

.header-content {
    background-color: blueviolet;
    border: 1px solid black;
    height: 75px;
}