* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #2C3E50;
    color: white;
}

.header-content {
    background-color: blueviolet;
    border: 1px solid black;
    height: 75px;
}

.content {
    background-color: blueviolet;
    border: 1px solid black;
    height: 150px;
}


.jumbo-content {
    background-color: rgb(43, 226, 89);
    border: 1px solid black;
    height: 300px;
}

.jumbo {
    background-color: coral;
}

#jumbotron,
#about-us {
    background-color: cornflowerblue;
}

.bottom-footer {
    background-color: brown;
}


.txt-white {
    color: white;
}